*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}
nav{
    background-color: black;
    height: 50px;
}
.backbutton{
    color: black;
    margin-left: 50px;
    font-size: 50px;
}
.backbutton{
    height: 5px;
    width: 5px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Second/landscape1.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
.header-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    margin-top: 75px;
    max-width: 700px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.p{
    margin-top: 20px;
}
.btn{
    background: #db0001;
    border: 10;
    outline: 0;
    border-color: aliceblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    margin-top: 30px;
    position: center;
    padding-left: 50px;
    padding-right: 50px;
}
.btn:hover{
    transform: scale(1.09);
}
.btn2{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.btn2{
    width: 10px;
    margin-left: 10px;
}